# ETL Project

Create a database called online_ed by creating the following tables:
1. Searchwords
2. YouTube_Categories table
3. YouTube_Countries
4. YouTube_Videos table
5. Ted_Talks table
6. MOOC_List table
7. MOOC_Attributes table
8. edX_courses

In [2]:
# import dependencies

import pandas as pd
from sqlalchemy import create_engine
from config import username, password

# temp:
username = 'postgres'
password = 'postgres'

# Part 1: Load Data

In [3]:
# read CSV

# YouTube Videos
CA_videos = 'data/CAvideos.csv'
DE_videos = 'data/DEvideos.csv'
FR_videos = 'data/FRvideos.csv'
GB_videos = 'data/GBvideos.csv'
IN_videos = 'data/INvideos.csv'
JP_videos = 'data/JPvideos.csv'
KR_videos = 'data/KRvideos.csv'
MX_videos = 'data/MXvideos.csv'
RU_videos = 'data/RUvideos.csv'
US_videos = 'data/USvideos.csv'
CA_videos_df = pd.read_csv(CA_videos, encoding='utf-8', dtype = 'unicode')
DE_videos_df = pd.read_csv(DE_videos, encoding='utf-8', dtype = 'unicode')
FR_videos_df = pd.read_csv(FR_videos, encoding='utf-8', dtype = 'unicode')
GB_videos_df = pd.read_csv(GB_videos, encoding='utf-8', dtype = 'unicode')
IN_videos_df = pd.read_csv(IN_videos, encoding='utf-8', dtype = 'unicode')
JP_videos_df = pd.read_csv(JP_videos, encoding='latin1', dtype = 'unicode')
KR_videos_df = pd.read_csv(KR_videos, encoding='latin1', dtype = 'unicode')
MX_videos_df = pd.read_csv(MX_videos, encoding='latin1', dtype = 'unicode')
RU_videos_df = pd.read_csv(RU_videos, encoding='latin1', dtype = 'unicode')
US_videos_df = pd.read_csv(US_videos, encoding='utf-8', dtype = 'unicode')

# Ted Talks
TED_Talks_query = 'data/QueryResult.csv'
tedtalks = pd.read_csv(TED_Talks_query)
TED_Talks_More_load = 'data/TED_Talks_more.csv'
tedtalks_more = pd.read_csv(TED_Talks_More_load)

# edX
# source: https://www.kaggle.com/edx/course-study
edx_df = pd.read_csv('data/edx_data.csv')

# YouTube Metadata
# NOTE: JSON files are in a separate notebook, "YouTube Video Stats Metadata"
youtube_metadata = pd.read_csv('data/youtube_metadata.csv')

In [4]:
# read HTML

# List of MOOCs
url_mooc_table = 'https://en.wikipedia.org/wiki/List_of_MOOC_providers'
mooc_table = pd.read_html(url_mooc_table)
mooc_df = mooc_table[0]

# Attributes of MOOCs
url_mooc_attributes = 'https://en.wikipedia.org/wiki/Massive_open_online_course'
attribute_table = pd.read_html(url_mooc_attributes)
attributes_df = attribute_table[3]

----------------

# Part 2: Transform Data

**Transform data to create the following tables:**

1. Searchwords table(combination of search words from YouTube json files (called categories) & TEDtalk dataset (called tags)
2. YouTube_Categories table (YouTube metadata: Table with YouTube video categories and corresponding codes)
3. YouTube_Countries table (YouTube metadata: Table with country codes and country names from the Youtube Video dataset)
4. YouTube_Videos table (appended table of data from YouTube .csv files)
5. Ted_Talks table (table with data from TEDex .csv file)
6. MOOC_List table (list of common MOOCs, scraped from Wikipedia)
7. MOOC_Attributes table (attributes of common MOOCs, scraped from Wikipedia)
8. edX_courses (information about edX courses from Kaggle)

### Table 1: Searchwords

In [5]:
# INSERT CODE HERE

In [6]:
# enter code that creates a dataframe of searchwords (tags) from tedex file

In [7]:
# enter code here that concats the youtube_categories table with the tedex_tags table to create searchwordtable 
# pd.concat([s1, s2], ignore_index=True), https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html

### Table 2: YouTube_Categories

In [8]:
# all categories are the same across countries, so we don't need this entire df

youtube_metadata = youtube_metadata[['Country', 'CountryCode', 'CategoryID','VideoCategory']]

In [9]:
# the categories are the same across countries, so we don't need this entire df
# the df below includes the exhaustive list of distinct categories that occurred across countries

youtube_categories = youtube_metadata.drop_duplicates(subset=['CategoryID', 'VideoCategory'],
                                                      keep='first')[['CategoryID','VideoCategory']]

In [10]:
# final table of youtube searchwords

youtube_categories.head(10)

   CategoryID     VideoCategory
0           1  Film & Animation
1           2  Autos & Vehicles
2          10             Music
3          15    Pets & Animals
4          17            Sports
5          18      Short Movies
6          19   Travel & Events
7          20            Gaming
8          21     Videoblogging
9          22    People & Blogs

### Table 3: YouTube_Countries

In [11]:
youtube_countries = youtube_metadata.drop_duplicates(subset=['Country', 'CountryCode'], 
                                                     keep='first')[['Country', 'CountryCode']]

In [12]:
# final table
youtube_countries

           Country CountryCode
0           Canada          CA
31         Germany          DE
62          France          FR
93   Great Britain          GB
124         France          IN
155          Japan          JP
186    South Korea          KR
217          Japan          MX
248         Russia          RU
279  United States          US

### Table 4: YouTube_Videos

In [13]:
#Add a column for country code in each dataframe
CA_videos_df['countrycode'] = 'CA'
DE_videos_df['countrycode'] = 'DE'
FR_videos_df['countrycode'] = 'FR'
GB_videos_df['countrycode'] = 'GB'
IN_videos_df['countrycode'] = 'IN'
JP_videos_df['countrycode'] = 'JP'
KR_videos_df['countrycode'] = 'KR'
MX_videos_df['countrycode'] = 'MX'
RU_videos_df['countrycode'] = 'RU'
US_videos_df['countrycode'] = 'US'

In [14]:
#Concat all dataframes into one pd.concat([s1, s2], ignore_index=True)
videos_df = pd.concat([CA_videos_df, 
                      DE_videos_df,
                      FR_videos_df,
                      GB_videos_df,
                      IN_videos_df,
                      JP_videos_df,
                      KR_videos_df,
                      MX_videos_df,
                      RU_videos_df,
                      US_videos_df], ignore_index=True, sort=False)
len(videos_df)

375942

In [15]:
# clean trending_date
# series.str.split(self, pat=None, n=-1, expand=False)
# df.rename(columns={"A": "a", "B": "c"})
# df['combined']=df.apply(lambda x:'%s_%s' % (x['foo'],x['bar']),axis=1)
# df['Date']= pd.to_datetime(df['Date'])
# df['Date'] = df['Date'].astype('datetime64[ns]') 
date = videos_df['trending_date']
date_expanded = date.str.split(pat = '.', expand=True)
df_corrected = date_expanded.apply(lambda x:'%s-%s-20%s' % (x[2],x[1],x[0]),axis=1)

In [16]:
#change date type
videos_df['publish_time_clean'] = videos_df['publish_time'].astype('datetime64[ns]')
#change date type
videos_df['date_clean'] = df_corrected.astype('datetime64[ns]')

### Table 5: Ted_Talks

In [17]:
# ENTER CODE HERE

### Table 6: MOOC_List

In [18]:
# remove the Wikipedia reference labels that are in brackets by splitting the 'Name' column

cleaned_names = mooc_df['Name'].str.split("[", n = 1, expand = True)
mooc_df['Name'] = cleaned_names[0]

In [19]:
# select only the Type, Founded, and Headquarters information for each MOOC

mooc_df = mooc_df[['Name', 'Type', 'Founded', 'Headquarters']]

In [20]:
# rename columns 

mooc_df = mooc_df.rename(columns={"Name": "MOOC"})

In [21]:
# final table

mooc_df.head()

             MOOC        Type  Founded Headquarters
0          Alison  Commercial     2007      Ireland
1  Canvas Network  Commercial     2008          USA
2        Coursera  Commercial     2012          USA
3             edX  Non-profit     2012          USA
4     FutureLearn  Commercial     2012           UK

### Table 7: MOOC_Attributes

In [22]:
# Rename columns to conform to database structure and to format properly

attributes_df = attributes_df.rename(columns={"Initiatives": "MOOC",
                                  "Free to access": "FreetoAccess",
                                  "Certification fee": "CertificationFee",
                                  "Institutional credits": "InstitutionalCredits"})

In [23]:
# final table

attributes_df.head()

       MOOC Nonprofit FreetoAccess CertificationFee InstitutionalCredits
0       edX       Yes      Partial              Yes              Partial
1  Coursera        No      Partial              Yes              Partial
2   Udacity        No      Partial              Yes              Partial
3     Udemy        No      Partial              Yes              Partial
4      P2PU       Yes          Yes               No                   No

### Table 8: edX_Courses

In [24]:
# rename columns to shorten and to omit spaces

edx_df = edx_df.rename(columns={"Course Number": "CourseNumber",
                        "Launch Date": "LaunchDate",
                        "Course Title": "CourseTitle", 
                        "Course Subject": "CourseSubject",
                        "Honor Code Certificates": "HonorCodeCert",
                        "Participants (Course Content Accessed)": "Participants",
                        "Audited (> 50% Course Content Accessed)": "Audited",
                        "% Audited": "Audited_Pct",
                        "% Certified": "Certified_Pct",
                        "% Certified of > 50% Course Content Accessed": "AccessedHalf_Certified_Pct",
                        "% Played Video": "PlayedVideo_Pct",
                        "% Posted in Forum": "Posted_Pct",
                        "% Certified": "Certified_Pct",
                        "% Grade Higher Than Zero": "GradeAboveZero_Pct",
                        "Total Course Hours (Thousands)": "CourseHouse_Thou",
                        "Median Hours for Certification": "MerdianCertHours",
                        "Median Age": "MedianAge", 
                        "% Male": "Male_Pct",
                        "% Female": "Female_Pct",
                        "% Bachelor's Degree or Higher": "BachelorsPlus_Pct"})

In [25]:
# add a column that indicates the name of the MOOC and the type of videos (educational videos)

edx_df["MOOC"] = 'edX'
edx_df["VideoCategory"] = 'Education'

In [26]:
# re-order columns

edx_df = edx_df[['MOOC', 'Institution', 'CourseNumber', 'LaunchDate', 'CourseTitle',
       'Instructors', 'CourseSubject', 'VideoCategory', 'Year', 'HonorCodeCert', 'Participants',
       'Audited', 'Certified', 'Audited_Pct', 'Certified_Pct',
       'AccessedHalf_Certified_Pct', 'PlayedVideo_Pct', 'Posted_Pct',
       'GradeAboveZero_Pct', 'CourseHouse_Thou', 'MerdianCertHours',
       'MedianAge', 'Male_Pct', 'Female_Pct', 'BachelorsPlus_Pct']]

In [27]:
# final df

edx_df.head(1)

,MOOC,Institution,CourseNumber,LaunchDate,CourseTitle,Instructors,CourseSubject,VideoCategory,Year,HonorCodeCert,...,AccessedHalf_Certified_Pct,PlayedVideo_Pct,Posted_Pct,GradeAboveZero_Pct,CourseHouse_Thou,MerdianCertHours,MedianAge,Male_Pct,Female_Pct,BachelorsPlus_Pct
0,edX,MITx,6.002x,09/05/2012,Circuits and Electronics,Khurram Afridi,"Science, Technology, Engineering, and Mathematics",Education,1,1,...,54.98,83.2,8.17,28.97,418.94,64.45,26.0,88.28,11.72,60.68

----------------

# Part 3: Load

Create the database 'online_ed' in PgAdmin 4, the load the tables:

1. Searchwords
2. YouTube_Categories table
3. YouTube_Countries
4. YouTube_Videos table
5. Ted_Talks table
6. MOOC_List table
7. MOOC_Attributes table
8. edX_courses

In [28]:
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/online_ed')
con = engine.connect()

In [ ]:
# create tables in pgAdmin

#1. Searchwords table- fill in the blank with the name of the table that combines YouTube and TEDtalk searchword data
# _____________.to_sql(name='Searchwords', con=engine, if_exists='replace', index=False)

#2. YouTube_Categories table
youtube_categories.to_sql(name='YouTube_Categories', con=engine, if_exists='replace', index=False)

#3. YouTube_Countries table
youtube_countries.to_sql(name='YouTube_Countries', con=engine, if_exists='replace', index=False)

#4. YouTube_Videos table
videos_df.to_sql(name='YouTube_Videos', con=engine, if_exists='replace', index=False)


#5. Ted_Talks table- fill in the blank with the name of the table with the ted talk data
# _____________.to_sql(name='Ted_Talks', con=engine, if_exists='replace', index=False)

#6. MOOC_List table
mooc_df.to_sql(name='MOOC_List', con=engine, if_exists='replace', index=False)

#7. MOOC_Attributes table
attr_df.to_sql(name='MOOC_Attributes', con=engine, if_exists='replace', index=False)

#8. edX_Courses table
edx_df.to_sql(name='edX_Courses', con=engine, if_exists='replace', index=False)

In [ ]:
# set primary keys for the following tables

#2. YouTube_Categories table
with engine.connect() as con:
    con.execute('ALTER TABLE `YouTube_Categories` ADD PRIMARY KEY (`CategoryID`);')
    
#3. YouTube_Countries table
with engine.connect() as con:
    con.execute('ALTER TABLE `YouTube_Countries` ADD PRIMARY KEY (`CountryCode`);')
    
#6. MOOC_List table
with engine.connect() as con:
    con.execute('ALTER TABLE `MOOC_List` ADD PRIMARY KEY (`MOOC`);')