In [1]:
#import dependencies
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
#load data 
CA_videos = 'CAvideos.csv'
DE_videos = 'DEvideos.csv'
FR_videos = 'FRvideos.csv'
GB_videos = 'GBvideos.csv'
IN_videos = 'INvideos.csv'
JP_videos = 'JPvideos.csv'
KR_videos = 'KRvideos.csv'
MX_videos = 'MXvideos.csv'
RU_videos = 'RUvideos.csv'
US_videos = 'USvideos.csv'

CA_videos_df = pd.read_csv(CA_videos, encoding='utf-8', dtype = 'unicode')
DE_videos_df = pd.read_csv(DE_videos, encoding='utf-8', dtype = 'unicode')
FR_videos_df = pd.read_csv(FR_videos, encoding='utf-8', dtype = 'unicode')
GB_videos_df = pd.read_csv(GB_videos, encoding='utf-8', dtype = 'unicode')
IN_videos_df = pd.read_csv(IN_videos, encoding='utf-8', dtype = 'unicode')
JP_videos_df = pd.read_csv(JP_videos, encoding='latin1', dtype = 'unicode')
KR_videos_df = pd.read_csv(KR_videos, encoding='latin1', dtype = 'unicode')
MX_videos_df = pd.read_csv(MX_videos, encoding='latin1', dtype = 'unicode')
RU_videos_df = pd.read_csv(RU_videos, encoding='latin1', dtype = 'unicode')
US_videos_df = pd.read_csv(US_videos, encoding='utf-8', dtype = 'unicode')

In [3]:
#Add a column for country code in each dataframe
CA_videos_df['country'] = 'CA'
DE_videos_df['country'] = 'DE'
FR_videos_df['country'] = 'FR'
GB_videos_df['country'] = 'GB'
IN_videos_df['country'] = 'IN'
JP_videos_df['country'] = 'JP'
KR_videos_df['country'] = 'KR'
MX_videos_df['country'] = 'MX'
RU_videos_df['country'] = 'RU'
US_videos_df['country'] = 'US'

In [4]:
#Concat all dataframes into one pd.concat([s1, s2], ignore_index=True)
videos_df = pd.concat([CA_videos_df, 
                      DE_videos_df,
                      FR_videos_df,
                      GB_videos_df,
                      IN_videos_df,
                      JP_videos_df,
                      KR_videos_df,
                      MX_videos_df,
                      RU_videos_df,
                      US_videos_df], ignore_index=True, sort=False)
len(videos_df)

375942

In [5]:
videos_df.head(1)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...,CA

In [ ]:
# clean trending_date
# series.str.split(self, pat=None, n=-1, expand=False)
# df.rename(columns={"A": "a", "B": "c"})
# df['combined']=df.apply(lambda x:'%s_%s' % (x['foo'],x['bar']),axis=1)
# df['Date']= pd.to_datetime(df['Date'])
# df['Date'] = df['Date'].astype('datetime64[ns]') 
date = videos_df['trending_date']
date_expanded = date.str.split(pat = '.', expand=True)
df_corrected = date_expanded.apply(lambda x:'%s-%s-20%s' % (x[2],x[1],x[0]),axis=1)

In [28]:
#change date type
videos_df['date_clean'] = df_corrected.astype('datetime64[ns]')

In [27]:
#change date type
videos_df['publish_time_clean'] = videos_df['publish_time'].astype('datetime64[ns]')

In [17]:
#connect to SQL
engine = create_engine('sql lite goes here')
#engine = create_engine('sqlite:///database.sqlite')
Base.metadata.create_all(engine)

# Create Database Session
session = Session(bind=engine)