# MOOC Information from Wikipedia

In [105]:
# dependencies
import pandas as pd

## List of MOOCs

### Scrape from Wikipedia

In [106]:
url_mooc_table = 'https://en.wikipedia.org/wiki/List_of_MOOC_providers'

In [107]:
mooc_table = pd.read_html(url_mooc_table)

In [108]:
mooc_df = mooc_table[0]
mooc_df.head()

,Name,Description,Topics,Education level,Website,Cost,Languages courses are available in,Provider/s,Type,Content License,Founded,Headquarters
0,Alison,NaN,"IT, Language, Science, Health, Humanities, Sof...",NaN,[1],Freemium,NaN,Alison,Commercial,NaN,2007,Ireland
1,Canvas Network,NaN,NaN,"K12, Higher education",[2],NaN,NaN,"Instructure, Inc",Commercial,"All Rights Reserved, registration required.",2008,USA
2,Coursera,NaN,NaN,NaN,[3],"Subscription, some free courses","English, Hindi, Spanish, French, Chinese, Arab...",NaN,Commercial,Different course licenses,2012,USA
3,edX,NaN,NaN,NaN,[4],NaN,"English, Spanish, French, Mandarin, Italian, R...",NaN,Non-profit,All rights reserved,2012,USA
4,FutureLearn[5][6],NaN,NaN,NaN,[7],"Free access to courses, paid certification[8]",NaN,NaN,Commercial,All rights reserved.,2012,UK

In [111]:
# remove the Wikipedia reference labels that are in brackets by splitting the 'Name' column

cleaned_names = mooc_df['Name'].str.split("[", n = 1, expand = True)
mooc_df['Name'] = cleaned_names[0]

mooc_df['Name']

0                          Alison
1                  Canvas Network
2                        Coursera
3                             edX
4                     FutureLearn
5               The Great Courses
6                        iversity
7                         Kadenze
8                    Khan Academy
9               Linkedin Learning
10                 OpenClassrooms
11                        openHPI
12                   OpenLearning
13                        OpenSAP
14    Open Universities Australia
15        Peer to Peer University
16                          POLHN
17                   Shaw Academy
18                Stanford Online
19                         SWAYAM
20                        Udacity
21                          Udemy
22                          WizIQ
Name: Name, dtype: object

In [98]:
mooc_table[0].columns

Index(['Name', 'Description', 'Topics', 'Education level', 'Website', 'Cost',
       'Languages courses are available in', 'Provider/s', 'Type',
       'Content License', 'Founded', 'Headquarters'],
      dtype='object')

In [99]:
# select only the Type, Founded, and Headquarters information for each MOOC

mooc_df = mooc_df[['Name', 'Type', 'Founded', 'Headquarters']]
mooc_df

                           Name        Type  Founded            Headquarters
0                        Alison  Commercial     2007                 Ireland
1                Canvas Network  Commercial     2008                     USA
2                      Coursera  Commercial     2012                     USA
3                           edX  Non-profit     2012                     USA
4                   FutureLearn  Commercial     2012                      UK
5             The Great Courses  Commercial     1990                     USA
6                      iversity  Commercial     2013                      EU
7                       Kadenze  Commercial     2015                     USA
8                  Khan Academy  Non-profit     2006                     USA
9             Linkedin Learning  Commercial     1995                     USA
10               OpenClassrooms  Commercial     2007                  France
11                      openHPI         NaN     2012                 Germany
12                 OpenLearning  Commercial     2012               Australia
13                      OpenSAP  Non-profit     2013                 Germany
14  Open Universities Australia  Commercial     2013               Australia
15      Peer to Peer University  Non-profit     2009                     USA
16                        POLHN  Non-profit     2005  Western Pacific Region
17                 Shaw Academy  Commercial     2013                 Ireland
18              Stanford Online  Non-profit     2006                     USA
19                       SWAYAM  Non-profit     2017                   India
20                      Udacity  Commercial     2012                     USA
21                        Udemy  Commercial     2010                     USA
22                        WizIQ  Commercial     2007               India/USA

## MOOC Attribues

### Scrape from YouTube

In [100]:
url_mooc_attributes = 'https://en.wikipedia.org/wiki/Massive_open_online_course'

In [101]:
attribute_table = pd.read_html(url_mooc_attributes)

In [102]:
attr_df = attribute_table[3]
attr_df.head()

  Initiatives Nonprofit Free to access Certification fee Institutional credits
0         edX       Yes        Partial               Yes               Partial
1    Coursera        No        Partial               Yes               Partial
2     Udacity        No        Partial               Yes               Partial
3       Udemy        No        Partial               Yes               Partial
4        P2PU       Yes            Yes                No                    No