# YouTube Video Statistics Dataset

Kaggle: https://www.kaggle.com/datasnaek/youtube-new/data

In [132]:
# dependencies

import pandas as pd

In [ ]:
# read in JSON files

ca_json = pd.read_json(r'data/CA_category_id.json')['items']
de_json = pd.read_json(r'data/DE_category_id.json')['items']
fr_json = pd.read_json(r'data/FR_category_id.json')['items']
gb_json = pd.read_json(r'data/GB_category_id.json')['items']
in_json = pd.read_json(r'data/IN_category_id.json')['items']
jp_json = pd.read_json(r'data/JP_category_id.json')['items']
kr_json = pd.read_json(r'data/KR_category_id.json')['items']
mx_json = pd.read_json(r'data/MX_category_id.json')['items']
ru_json = pd.read_json(r'data/RU_category_id.json')['items']
us_json = pd.read_json(r'data/US_category_id.json')['items']

## CA: Canada

In [ ]:
# extract data from files to use in a dictionary

kind = []
etag = []
ids = []
channelid = []
title = []
assignable = []

for record in range(len(ca_json)):
    kind.append(ca_json[record]['kind'])
    etag.append(ca_json[record]['etag'])
    ids.append(ca_json[record]['id'])
    channelid.append(ca_json[record]['snippet']['channelId'])
    title.append(ca_json[record]['snippet']['title'])
    assignable.append(ca_json[record]['snippet']['assignable'])

In [ ]:
# create a pandas dataframe

ca_df = pd.DataFrame({'Kind': kind,
                     'etag': etag,
                     'IDs': ids,
                     'ChannelID': channelid,
                     'VideoTitle': title,
                     'assignable': assignable
                     })

In [ ]:
ca_df.head()

## DE:

In [137]:
# extract data from files to use in a dictionary

kind = []
etag = []
ids = []
channelid = []
title = []
assignable = []

for record in range(len(de_json)):
    kind.append(de_json[record]['kind'])
    etag.append(de_json[record]['etag'])
    ids.append(de_json[record]['id'])
    channelid.append(de_json[record]['snippet']['channelId'])
    title.append(de_json[record]['snippet']['title'])
    assignable.append(de_json[record]['snippet']['assignable'])

In [138]:
# create a pandas dataframe

de_df = pd.DataFrame({'Kind': kind,
                     'etag': etag,
                     'IDs': ids,
                     'ChannelID': channelid,
                     'VideoTitle': title,
                     'assignable': assignable
                     })

In [139]:
de_df.head()

,Kind,etag,IDs,ChannelID,VideoTitle,assignable
0,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True
1,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True
2,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True
3,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True
4,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True

## FR: France

In [140]:
# extract data from files to use in a dictionary

kind = []
etag = []
ids = []
channelid = []
title = []
assignable = []

for record in range(len(fr_json)):
    kind.append(fr_json[record]['kind'])
    etag.append(fr_json[record]['etag'])
    ids.append(fr_json[record]['id'])
    channelid.append(fr_json[record]['snippet']['channelId'])
    title.append(fr_json[record]['snippet']['title'])
    assignable.append(fr_json[record]['snippet']['assignable'])

In [141]:
# create a pandas dataframe

fr_df = pd.DataFrame({'Kind': kind,
                     'etag': etag,
                     'IDs': ids,
                     'ChannelID': channelid,
                     'VideoTitle': title,
                     'assignable': assignable
                     })

In [142]:
fr_df.head()

,Kind,etag,IDs,ChannelID,VideoTitle,assignable
0,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True
1,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True
2,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True
3,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True
4,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True

## GB: Great Britain

In [143]:
# extract data from files to use in a dictionary

kind = []
etag = []
ids = []
channelid = []
title = []
assignable = []

for record in range(len(gb_json)):
    kind.append(gb_json[record]['kind'])
    etag.append(gb_json[record]['etag'])
    ids.append(gb_json[record]['id'])
    channelid.append(gb_json[record]['snippet']['channelId'])
    title.append(gb_json[record]['snippet']['title'])
    assignable.append(gb_json[record]['snippet']['assignable'])

In [144]:
# create a pandas dataframe

gb_df = pd.DataFrame({'Kind': kind,
                     'etag': etag,
                     'IDs': ids,
                     'ChannelID': channelid,
                     'VideoTitle': title,
                     'assignable': assignable
                     })

In [145]:
gb_df.head()

,Kind,etag,IDs,ChannelID,VideoTitle,assignable
0,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True
1,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True
2,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True
3,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True
4,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True

## IN: India

In [146]:
# extract data from files to use in a dictionary

kind = []
etag = []
ids = []
channelid = []
title = []
assignable = []

for record in range(len(gb_json)):
    kind.append(gb_json[record]['kind'])
    etag.append(gb_json[record]['etag'])
    ids.append(gb_json[record]['id'])
    channelid.append(gb_json[record]['snippet']['channelId'])
    title.append(gb_json[record]['snippet']['title'])
    assignable.append(gb_json[record]['snippet']['assignable'])

In [147]:
# create a pandas dataframe

gb_df = pd.DataFrame({'Kind': kind,
                     'etag': etag,
                     'IDs': ids,
                     'ChannelID': channelid,
                     'VideoTitle': title,
                     'assignable': assignable
                     })

In [148]:
gb_df.head()

,Kind,etag,IDs,ChannelID,VideoTitle,assignable
0,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True
1,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True
2,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True
3,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True
4,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True

## JP: Japan

In [149]:
# extract data from files to use in a dictionary

kind = []
etag = []
ids = []
channelid = []
title = []
assignable = []

for record in range(len(jp_json)):
    kind.append(jp_json[record]['kind'])
    etag.append(jp_json[record]['etag'])
    ids.append(jp_json[record]['id'])
    channelid.append(jp_json[record]['snippet']['channelId'])
    title.append(jp_json[record]['snippet']['title'])
    assignable.append(jp_json[record]['snippet']['assignable'])

In [150]:
# create a pandas dataframe

jp_df = pd.DataFrame({'Kind': kind,
                     'etag': etag,
                     'IDs': ids,
                     'ChannelID': channelid,
                     'VideoTitle': title,
                     'assignable': assignable
                     })

In [151]:
jp_df.head()

,Kind,etag,IDs,ChannelID,VideoTitle,assignable
0,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True
1,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True
2,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True
3,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True
4,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True

## KR: South Korea

In [152]:
# extract data from files to use in a dictionary

kind = []
etag = []
ids = []
channelid = []
title = []
assignable = []

for record in range(len(kr_json)):
    kind.append(kr_json[record]['kind'])
    etag.append(kr_json[record]['etag'])
    ids.append(kr_json[record]['id'])
    channelid.append(kr_json[record]['snippet']['channelId'])
    title.append(kr_json[record]['snippet']['title'])
    assignable.append(kr_json[record]['snippet']['assignable'])

In [153]:
# create a pandas dataframe

kr_df = pd.DataFrame({'Kind': kind,
                     'etag': etag,
                     'IDs': ids,
                     'ChannelID': channelid,
                     'VideoTitle': title,
                     'assignable': assignable
                     })

In [154]:
kr_df.head()

,Kind,etag,IDs,ChannelID,VideoTitle,assignable
0,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True
1,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True
2,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True
3,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True
4,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True

## MX: Mexico

In [155]:
# extract data from files to use in a dictionary

kind = []
etag = []
ids = []
channelid = []
title = []
assignable = []

for record in range(len(mx_json)):
    kind.append(mx_json[record]['kind'])
    etag.append(mx_json[record]['etag'])
    ids.append(mx_json[record]['id'])
    channelid.append(mx_json[record]['snippet']['channelId'])
    title.append(mx_json[record]['snippet']['title'])
    assignable.append(mx_json[record]['snippet']['assignable'])

In [156]:
# create a pandas dataframe

mx_df = pd.DataFrame({'Kind': kind,
                     'etag': etag,
                     'IDs': ids,
                     'ChannelID': channelid,
                     'VideoTitle': title,
                     'assignable': assignable
                     })

In [157]:
mx_df.head()

,Kind,etag,IDs,ChannelID,VideoTitle,assignable
0,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True
1,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True
2,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True
3,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True
4,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True

## RU: Russia

In [158]:
# extract data from files to use in a dictionary

kind = []
etag = []
ids = []
channelid = []
title = []
assignable = []

for record in range(len(ru_json)):
    kind.append(ru_json[record]['kind'])
    etag.append(ru_json[record]['etag'])
    ids.append(ru_json[record]['id'])
    channelid.append(ru_json[record]['snippet']['channelId'])
    title.append(ru_json[record]['snippet']['title'])
    assignable.append(ru_json[record]['snippet']['assignable'])

In [159]:
# create a pandas dataframe

ru_df = pd.DataFrame({'Kind': kind,
                     'etag': etag,
                     'IDs': ids,
                     'ChannelID': channelid,
                     'VideoTitle': title,
                     'assignable': assignable
                     })

In [160]:
ru_df.head()

,Kind,etag,IDs,ChannelID,VideoTitle,assignable
0,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True
1,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True
2,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True
3,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True
4,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True

## US: United States

In [161]:
# extract data from files to use in a dictionary

kind = []
etag = []
ids = []
channelid = []
title = []
assignable = []

for record in range(len(df)):
    kind.append(us_json[record]['kind'])
    etag.append(us_json[record]['etag'])
    ids.append(us_json[record]['id'])
    channelid.append(us_json[record]['snippet']['channelId'])
    title.append(us_json[record]['snippet']['title'])
    assignable.append(us_json[record]['snippet']['assignable'])

In [162]:
# create a pandas dataframe

us_df = pd.DataFrame({'Kind': kind,
                     'etag': etag,
                     'IDs': ids,
                     'ChannelID': channelid,
                     'VideoTitle': title,
                     'assignable': assignable
                     })

In [163]:
us_df.head()

,Kind,etag,IDs,ChannelID,VideoTitle,assignable
0,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True
1,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True
2,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True
3,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True
4,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True