# YouTube Video Statistics Dataset

Dataset from Kaggle: https://www.kaggle.com/datasnaek/youtube-new/data

The YouTube API documentation outlines the meaning of each field: https://developers.google.com/youtube/v3/docs/videoCategories

In [39]:
# dependencies

import pandas as pd

In [40]:
# read in JSON files

ca_json = pd.read_json(r'data/CA_category_id.json')['items']
de_json = pd.read_json(r'data/DE_category_id.json')['items']
fr_json = pd.read_json(r'data/FR_category_id.json')['items']
gb_json = pd.read_json(r'data/GB_category_id.json')['items']
in_json = pd.read_json(r'data/IN_category_id.json')['items']
jp_json = pd.read_json(r'data/JP_category_id.json')['items']
kr_json = pd.read_json(r'data/KR_category_id.json')['items']
mx_json = pd.read_json(r'data/MX_category_id.json')['items']
ru_json = pd.read_json(r'data/RU_category_id.json')['items']
us_json = pd.read_json(r'data/US_category_id.json')['items']

## CA: Canada

In [41]:
# extract data from files to use in a dictionary

kind = []
etag = []
categoryid = []
channelid = []
title = []
assignable = []

for record in range(len(ca_json)):
    kind.append(ca_json[record]['kind'])
    etag.append(ca_json[record]['etag'])
    categoryid.append(ca_json[record]['id'])
    channelid.append(ca_json[record]['snippet']['channelId'])
    title.append(ca_json[record]['snippet']['title'])
    assignable.append(ca_json[record]['snippet']['assignable'])

In [42]:
# create a pandas dataframe

ca_df = pd.DataFrame({'Country': 'Canada',
                      'CountryCode': 'CA',
                      'Kind': kind,
                      'etag': etag,
                      'CategoryID': categoryid,
                      'ChannelID': channelid,
                      'VideoCategory': title,
                      'Assignable': assignable})

In [43]:
ca_df.head()

,Country,CountryCode,Kind,etag,CategoryID,ChannelID,VideoCategory,Assignable
0,Canada,CA,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True
1,Canada,CA,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True
2,Canada,CA,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True
3,Canada,CA,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True
4,Canada,CA,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True

## DE: Germany

In [44]:
# extract data from files to use in a dictionary

kind = []
etag = []
categoryid = []
channelid = []
title = []
assignable = []

for record in range(len(de_json)):
    kind.append(de_json[record]['kind'])
    etag.append(de_json[record]['etag'])
    categoryid.append(de_json[record]['id'])
    channelid.append(de_json[record]['snippet']['channelId'])
    title.append(de_json[record]['snippet']['title'])
    assignable.append(de_json[record]['snippet']['assignable'])

In [45]:
# create a pandas dataframe

de_df = pd.DataFrame({'Country': 'Germany',
                      'CountryCode': 'DE',
                      'Kind': kind,
                      'etag': etag,
                      'CategoryID': categoryid,
                      'ChannelID': channelid,
                      'VideoCategory': title,
                      'Assignable': assignable})

In [46]:
de_df.head()

,Country,CountryCode,Kind,etag,CategoryID,ChannelID,VideoCategory,Assignable
0,Germany,DE,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True
1,Germany,DE,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True
2,Germany,DE,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True
3,Germany,DE,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True
4,Germany,DE,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True

## FR: France

In [47]:
# extract data from files to use in a dictionary

kind = []
etag = []
categoryid = []
channelid = []
title = []
assignable = []

for record in range(len(fr_json)):
    kind.append(fr_json[record]['kind'])
    etag.append(fr_json[record]['etag'])
    categoryid.append(fr_json[record]['id'])
    channelid.append(fr_json[record]['snippet']['channelId'])
    title.append(fr_json[record]['snippet']['title'])
    assignable.append(fr_json[record]['snippet']['assignable'])

In [48]:
# create a pandas dataframe

fr_df = pd.DataFrame({'Country': 'France',
                      'CountryCode': 'FR',
                      'Kind': kind,
                      'etag': etag,
                      'CategoryID': categoryid,
                      'ChannelID': channelid,
                      'VideoCategory': title,
                      'Assignable': assignable})

In [49]:
fr_df.head()

,Country,CountryCode,Kind,etag,CategoryID,ChannelID,VideoCategory,Assignable
0,France,FR,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True
1,France,FR,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True
2,France,FR,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True
3,France,FR,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True
4,France,FR,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True

## GB: Great Britain

In [50]:
# extract data from files to use in a dictionary

kind = []
etag = []
categoryid = []
channelid = []
title = []
assignable = []

for record in range(len(gb_json)):
    kind.append(gb_json[record]['kind'])
    etag.append(gb_json[record]['etag'])
    categoryid.append(gb_json[record]['id'])
    channelid.append(gb_json[record]['snippet']['channelId'])
    title.append(gb_json[record]['snippet']['title'])
    assignable.append(gb_json[record]['snippet']['assignable'])

In [51]:
# create a pandas dataframe

gb_df = pd.DataFrame({'Country': 'Great Britain',
                      'CountryCode': 'GB',
                      'Kind': kind,
                      'etag': etag,
                      'CategoryID': categoryid,
                      'ChannelID': channelid,
                      'VideoCategory': title,
                      'Assignable': assignable})

In [52]:
gb_df.head()

,Country,CountryCode,Kind,etag,CategoryID,ChannelID,VideoCategory,Assignable
0,Great Britain,GB,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True
1,Great Britain,GB,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True
2,Great Britain,GB,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True
3,Great Britain,GB,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True
4,Great Britain,GB,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True

## IN: India

In [53]:
# extract data from files to use in a dictionary

kind = []
etag = []
categoryid = []
channelid = []
title = []
assignable = []

for record in range(len(gb_json)):
    kind.append(gb_json[record]['kind'])
    etag.append(gb_json[record]['etag'])
    categoryid.append(gb_json[record]['id'])
    channelid.append(gb_json[record]['snippet']['channelId'])
    title.append(gb_json[record]['snippet']['title'])
    assignable.append(gb_json[record]['snippet']['assignable'])

In [54]:
# create a pandas dataframe

in_df = pd.DataFrame({'Country': 'France',
                      'CountryCode': 'IN',
                      'Kind': kind,
                      'etag': etag,
                      'CategoryID': categoryid,
                      'ChannelID': channelid,
                      'VideoCategory': title,
                      'Assignable': assignable})

In [55]:
gb_df.head()

,Country,CountryCode,Kind,etag,CategoryID,ChannelID,VideoCategory,Assignable
0,Great Britain,GB,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True
1,Great Britain,GB,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True
2,Great Britain,GB,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True
3,Great Britain,GB,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True
4,Great Britain,GB,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True

## JP: Japan

In [56]:
# extract data from files to use in a dictionary

kind = []
etag = []
categoryid = []
channelid = []
title = []
assignable = []

for record in range(len(jp_json)):
    kind.append(jp_json[record]['kind'])
    etag.append(jp_json[record]['etag'])
    categoryid.append(jp_json[record]['id'])
    channelid.append(jp_json[record]['snippet']['channelId'])
    title.append(jp_json[record]['snippet']['title'])
    assignable.append(jp_json[record]['snippet']['assignable'])

In [57]:
# create a pandas dataframe

jp_df = pd.DataFrame({'Country': 'Japan',
                      'CountryCode': 'JP',
                      'Kind': kind,
                      'etag': etag,
                      'CategoryID': categoryid,
                      'ChannelID': channelid,
                      'VideoCategory': title,
                      'Assignable': assignable})

In [58]:
jp_df.head()

,Country,CountryCode,Kind,etag,CategoryID,ChannelID,VideoCategory,Assignable
0,Japan,JP,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True
1,Japan,JP,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True
2,Japan,JP,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True
3,Japan,JP,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True
4,Japan,JP,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True

## KR: South Korea

In [59]:
# extract data from files to use in a dictionary

kind = []
etag = []
categoryid = []
channelid = []
title = []
assignable = []

for record in range(len(kr_json)):
    kind.append(kr_json[record]['kind'])
    etag.append(kr_json[record]['etag'])
    categoryid.append(kr_json[record]['id'])
    channelid.append(kr_json[record]['snippet']['channelId'])
    title.append(kr_json[record]['snippet']['title'])
    assignable.append(kr_json[record]['snippet']['assignable'])

In [60]:
# create a pandas dataframe

kr_df = pd.DataFrame({'Country': 'South Korea',
                      'CountryCode': 'KR',
                      'Kind': kind,
                      'etag': etag,
                      'CategoryID': categoryid,
                      'ChannelID': channelid,
                      'VideoCategory': title,
                      'Assignable': assignable})

In [61]:
kr_df.head()

,Country,CountryCode,Kind,etag,CategoryID,ChannelID,VideoCategory,Assignable
0,South Korea,KR,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True
1,South Korea,KR,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True
2,South Korea,KR,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True
3,South Korea,KR,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True
4,South Korea,KR,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True

## MX: Mexico

In [62]:
# extract data from files to use in a dictionary

kind = []
etag = []
categoryid = []
channelid = []
title = []
assignable = []

for record in range(len(mx_json)):
    kind.append(mx_json[record]['kind'])
    etag.append(mx_json[record]['etag'])
    categoryid.append(mx_json[record]['id'])
    channelid.append(mx_json[record]['snippet']['channelId'])
    title.append(mx_json[record]['snippet']['title'])
    assignable.append(mx_json[record]['snippet']['assignable'])

In [63]:
# create a pandas dataframe

mx_df = pd.DataFrame({'Country': 'Japan',
                      'CountryCode': 'MX',
                      'Kind': kind,
                      'etag': etag,
                      'CategoryID': categoryid,
                      'ChannelID': channelid,
                      'VideoCategory': title,
                      'Assignable': assignable})

In [64]:
mx_df.head()

,Country,CountryCode,Kind,etag,CategoryID,ChannelID,VideoCategory,Assignable
0,Japan,MX,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True
1,Japan,MX,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True
2,Japan,MX,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True
3,Japan,MX,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True
4,Japan,MX,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True

## RU: Russia

In [65]:
# extract data from files to use in a dictionary

kind = []
etag = []
categoryid = []
channelid = []
title = []
assignable = []

for record in range(len(ru_json)):
    kind.append(ru_json[record]['kind'])
    etag.append(ru_json[record]['etag'])
    categoryid.append(ru_json[record]['id'])
    channelid.append(ru_json[record]['snippet']['channelId'])
    title.append(ru_json[record]['snippet']['title'])
    assignable.append(ru_json[record]['snippet']['assignable'])

In [66]:
# create a pandas dataframe

ru_df = pd.DataFrame({'Country': 'Russia',
                      'CountryCode': 'RU',
                      'Kind': kind,
                      'etag': etag,
                      'CategoryID': categoryid,
                      'ChannelID': channelid,
                      'VideoCategory': title,
                      'Assignable': assignable})

In [67]:
ru_df.head()

,Country,CountryCode,Kind,etag,CategoryID,ChannelID,VideoCategory,Assignable
0,Russia,RU,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True
1,Russia,RU,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True
2,Russia,RU,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True
3,Russia,RU,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True
4,Russia,RU,youtube#videoCategory,"""XI7nbFXulYBIpL0ayR_gDh3eu1k/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True

## US: United States

In [68]:
# extract data from files to use in a dictionary

kind = []
etag = []
categoryid = []
channelid = []
title = []
assignable = []

for record in range(len(us_json)):
    kind.append(us_json[record]['kind'])
    etag.append(us_json[record]['etag'])
    categoryid.append(us_json[record]['id'])
    channelid.append(us_json[record]['snippet']['channelId'])
    title.append(us_json[record]['snippet']['title'])
    assignable.append(us_json[record]['snippet']['assignable'])

In [69]:
# create a pandas dataframe

us_df = pd.DataFrame({'Country': 'United States',
                      'CountryCode': 'US',
                      'Kind': kind,
                      'etag': etag,
                      'CategoryID': categoryid,
                      'ChannelID': channelid,
                      'VideoCategory': title,
                      'Assignable': assignable})

In [70]:
us_df.head()

,Country,CountryCode,Kind,etag,CategoryID,ChannelID,VideoCategory,Assignable
0,United States,US,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True
1,United States,US,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True
2,United States,US,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True
3,United States,US,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True
4,United States,US,youtube#videoCategory,"""m2yskBQFythfE4irbTIeOgYYfBU/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True

# Transform

In [71]:
# append all dfs
df = ca_df.append([de_df, fr_df, gb_df, in_df, jp_df, kr_df, mx_df, ru_df, us_df])

In [72]:
# all categories are the same across countries, so we don't need this entire df

df = df[['Country', 'CountryCode', 'CategoryID','VideoCategory']]

In [73]:
df['CountryCode'].unique()

array(['CA', 'DE', 'FR', 'GB', 'IN', 'JP', 'KR', 'MX', 'RU', 'US'],
      dtype=object)

We will create two tables from this data:
1. YouTube Video Categories
2. YouTube Countries

In [74]:
# we can see now that the categories are the same across countries, so we don't need this entire df

youtube_categories = df.drop_duplicates(subset=['CategoryID', 'VideoCategory'], 
                                        keep='first')[['CategoryID','VideoCategory']]

youtube_categories

   CategoryID          VideoCategory
0           1       Film & Animation
1           2       Autos & Vehicles
2          10                  Music
3          15         Pets & Animals
4          17                 Sports
5          18           Short Movies
6          19        Travel & Events
7          20                 Gaming
8          21          Videoblogging
9          22         People & Blogs
10         23                 Comedy
11         24          Entertainment
12         25        News & Politics
13         26          Howto & Style
14         27              Education
15         28   Science & Technology
16         30                 Movies
17         31        Anime/Animation
18         32       Action/Adventure
19         33               Classics
20         34                 Comedy
21         35            Documentary
22         36                  Drama
23         37                 Family
24         38                Foreign
25         39                 Horror
26         40         Sci-Fi/Fantasy
27         41               Thriller
28         42                 Shorts
29         43                  Shows
30         44               Trailers
16         29  Nonprofits & Activism

In [75]:
youtube_countries = df.drop_duplicates(subset=['Country', 'CountryCode'], 
                                        keep='first')[['Country', 'CountryCode']]

youtube_countries

         Country CountryCode
0         Canada          CA
0        Germany          DE
0         France          FR
0  Great Britain          GB
0         France          IN
0          Japan          JP
0    South Korea          KR
0          Japan          MX
0         Russia          RU
0  United States          US

In [ ]:
# import dependencies

from sqlalchemy import create_engine
from config import username, password

In [ ]:
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/employee_db')
conn = engine.connect()